.card {
  list-style-type: none;
  width: 984px;
  height: 756px;
  margin: 0;
}
.card__content {
  display: flex;
  margin: 0;
}
.card__content-wrapper {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  padding-left: 148px;
}
.card__content-context {
  display: flex;
  flex-direction: column;
}
.card__title {
  color: rgba(255, 255, 255, 1);
  width: 460px;
  height: 152px;
  font-family: Inter;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding-bottom: 48px;
}
.card__image {
  padding-bottom: 48px;
}
.card__buy-button {
  display: flex;
  justify-content: center;
  background-color: rgba(2, 120, 254, 1);
  color: rgba(255, 255, 255, 1);
  height: 48px;
  width: 248px;
  margin: 0;
  padding: 13px 20px;
}
.card__artist {
  color: rgba(255, 255, 255, 1);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding-bottom: 48px;
  padding-top: 8px;
}
.card__description {
  color: rgba(255, 255, 255, 1);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  padding-bottom: 25px;
  width: 484px;
}
p {
  color: rgba(255, 255, 255, 1);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
}
